In [27]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.ticker import FuncFormatter
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from  mlxtend.preprocessing import TransactionEncoder

In [28]:
df = pd.read_csv('Global_YouTube_Statistics.csv',encoding='iso-8859-1')

In [29]:
df_cleaned = df.replace('nan', pd.NA)  # Replace 'nan' with pandas' NA for numeric columns
numeric_columns = ['rank', 'subscribers', 'video views', 'video_views_for_the_last_30_days',
                   'lowest_monthly_earnings', 'highest_monthly_earnings', 'lowest_yearly_earnings',
                   'highest_yearly_earnings', 'subscribers_for_last_30_days', 'created_year', 'Unemployment rate']

for col in numeric_columns:
    df_cleaned[col] = pd.to_numeric(df_cleaned[col], errors='coerce')
    
df_cleaned = df_cleaned.dropna()

In [30]:
df_cleaned

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
8,9,Like Nastya,106000000,9.047906e+10,People & Blogs,Like Nastya Vlog,493,Russia,RU,People,...,100000.0,2016.0,Jan,14.0,81.9,1.443735e+08,4.59,107683889.0,61.524010,105.318756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
989,990,Migos ATL,12400000,6.993406e+09,Music,Migos ATL,99,United States,US,Entertainment,...,100000.0,2012.0,Jan,17.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [31]:
df_cleaned.reset_index(inplace = True,drop=True)
df_cleaned

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
4,9,Like Nastya,106000000,9.047906e+10,People & Blogs,Like Nastya Vlog,493,Russia,RU,People,...,100000.0,2016.0,Jan,14.0,81.9,1.443735e+08,4.59,107683889.0,61.524010,105.318756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,990,Migos ATL,12400000,6.993406e+09,Music,Migos ATL,99,United States,US,Entertainment,...,100000.0,2012.0,Jan,17.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
550,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
551,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
552,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
553,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [32]:
country = []
for i in range(0,df_cleaned['Country'].shape[0]):
    country.append([df_cleaned['Country'].iloc[i]])

In [33]:
country

[['India'],
 ['United States'],
 ['United States'],
 ['India'],
 ['Russia'],
 ['United States'],
 ['India'],
 ['United States'],
 ['South Korea'],
 ['India'],
 ['South Korea'],
 ['Canada'],
 ['South Korea'],
 ['India'],
 ['United States'],
 ['India'],
 ['India'],
 ['India'],
 ['United States'],
 ['United States'],
 ['India'],
 ['Argentina'],
 ['India'],
 ['India'],
 ['India'],
 ['United States'],
 ['United States'],
 ['India'],
 ['United Kingdom'],
 ['India'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['Chile'],
 ['United States'],
 ['Russia'],
 ['India'],
 ['United States'],
 ['Cuba'],
 ['El Salvador'],
 ['India'],
 ['Brazil'],
 ['Brazil'],
 ['Pakistan'],
 ['United States'],
 ['Philippines'],
 ['Colombia'],
 ['Russia'],
 ['Pakistan'],
 ['India'],
 ['United States'],
 ['Barbados'],
 ['India'],
 ['Mexico'],
 ['United States'],
 ['United Arab Emirates'],
 ['India'],
 ['United States'],
 ['Canada'],
 ['Spain'],
 ['Thailand'],
 ['Brazil'],
 ['United States'],
 ['Saudi Arabia'],
 ['India'],
 ['United States'],
 ['India'],
 ['United States'],
 ['United States'],
 ['Thailand'],
 ['India'],
 ['India'],
 ['Brazil'],
 ['United States'],
 ['India'],
 ['United States'],
 ['Argentina'],
 ['India'],
 ['India'],
 ['India'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['India'],
 ['Colombia'],
 ['Indonesia'],
 ['India'],
 ['Brazil'],
 ['United States'],
 ['United States'],
 ['India'],
 ['Thailand'],
 ['India'],
 ['India'],
 ['Indonesia'],
 ['United States'],
 ['India'],
 ['United States'],
 ['Canada'],
 ['Colombia'],
 ['United Kingdom'],
 ['India'],
 ['Philippines'],
 ['India'],
 ['India'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['United Kingdom'],
 ['Venezuela'],
 ['United States'],
 ['Argentina'],
 ['United States'],
 ['India'],
 ['India'],
 ['Kuwait'],
 ['United Kingdom'],
 ['Jordan'],
 ['Netherlands'],
 ['India'],
 ['United States'],
 ['Brazil'],
 ['India'],
 ['India'],
 ['India'],
 ['Pakistan'],
 ['India'],
 ['United States'],
 ['Colombia'],
 ['United States'],
 ['South Korea'],
 ['United States'],
 ['United Kingdom'],
 ['United States'],
 ['India'],
 ['India'],
 ['United States'],
 ['Brazil'],
 ['United States'],
 ['United States'],
 ['Philippines'],
 ['India'],
 ['United States'],
 ['Italy'],
 ['Japan'],
 ['United States'],
 ['Indonesia'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['Indonesia'],
 ['United States'],
 ['United Kingdom'],
 ['United States'],
 ['India'],
 ['Indonesia'],
 ['Colombia'],
 ['United Kingdom'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['India'],
 ['Mexico'],
 ['Argentina'],
 ['Turkey'],
 ['Brazil'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['Mexico'],
 ['United States'],
 ['United Kingdom'],
 ['India'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['India'],
 ['United States'],
 ['India'],
 ['United States'],
 ['Germany'],
 ['Argentina'],
 ['India'],
 ['India'],
 ['Jordan'],
 ['Mexico'],
 ['United States'],
 ['India'],
 ['India'],
 ['United States'],
 ['Saudi Arabia'],
 ['United States'],
 ['India'],
 ['United States'],
 ['France'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['Japan'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['United Kingdom'],
 ['Brazil'],
 ['India'],
 ['United States'],
 ['Chile'],
 ['India'],
 ['United States'],
 ['United States'],
 ['India'],
 ['United States'],
 ['India'],
 ['India'],
 ['Philippines'],
 ['Indonesia'],
 ['Brazil'],
 ['United States'],
 ['India'],
 ['Brazil'],
 ['United States'],
 ['United States'],
 ['Germany'],
 ['United States'],
 ['Russia'],
 ['Indonesia'],
 ['Argentina'],
 ['South Korea'],
 ['United States'],
 ['Brazil'],
 ['United States'],
 ['India'],
 ['India'],
 ['United Kingdom'],
 ['Indonesia'],
 ['Colombia'],
 ['United Arab Emirates'],
 ['India'],
 ['Latvia'],
 ['United States'],
 ['Indonesia'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['United Kingdom'],
 ['India'],
 ['Brazil'],
 ['United States'],
 ['United Kingdom'],
 ['United States'],
 ['Turkey'],
 ['United States'],
 ['India'],
 ['India'],
 ['Mexico'],
 ['India'],
 ['Switzerland'],
 ['India'],
 ['United States'],
 ['Mexico'],
 ['India'],
 ['Brazil'],
 ['United Kingdom'],
 ['United States'],
 ['United Kingdom'],
 ['United States'],
 ['Ukraine'],
 ['India'],
 ['Spain'],
 ['India'],
 ['Thailand'],
 ['Saudi Arabia'],
 ['Brazil'],
 ['Russia'],
 ['Russia'],
 ['Indonesia'],
 ['Thailand'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['France'],
 ['United States'],
 ['Brazil'],
 ['Australia'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['Argentina'],
 ['Vietnam'],
 ['United States'],
 ['United States'],
 ['India'],
 ['United States'],
 ['India'],
 ['Indonesia'],
 ['Ukraine'],
 ['Malaysia'],
 ['Argentina'],
 ['Mexico'],
 ['China'],
 ['Chile'],
 ['India'],
 ['India'],
 ['United States'],
 ['Thailand'],
 ['United States'],
 ['India'],
 ['United States'],
 ['Argentina'],
 ['Russia'],
 ['Indonesia'],
 ['United Kingdom'],
 ['India'],
 ['India'],
 ['United States'],
 ['United States'],
 ['Brazil'],
 ['Indonesia'],
 ['Brazil'],
 ['United States'],
 ['United States'],
 ['India'],
 ['India'],
 ['India'],
 ['Germany'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['India'],
 ['United States'],
 ['Thailand'],
 ['Thailand'],
 ['United States'],
 ['India'],
 ['United States'],
 ['Brazil'],
 ['United Kingdom'],
 ['Vietnam'],
 ['Thailand'],
 ['Singapore'],
 ['United States'],
 ['United States'],
 ['France'],
 ['United States'],
 ['Mexico'],
 ['Argentina'],
 ['Brazil'],
 ['United States'],
 ['Colombia'],
 ['India'],
 ['India'],
 ['Indonesia'],
 ['United States'],
 ['India'],
 ['India'],
 ['United States'],
 ['Canada'],
 ['Brazil'],
 ['Mexico'],
 ['Saudi Arabia'],
 ['India'],
 ['Saudi Arabia'],
 ['India'],
 ['Egypt'],
 ['India'],
 ['United Arab Emirates'],
 ['United States'],
 ['United Kingdom'],
 ['Thailand'],
 ['United States'],
 ['Spain'],
 ['Russia'],
 ['India'],
 ['India'],
 ['India'],
 ['India'],
 ['India'],
 ['India'],
 ['United States'],
 ['India'],
 ['Indonesia'],
 ['United States'],
 ['Egypt'],
 ['Russia'],
 ['Argentina'],
 ['Philippines'],
 ['Russia'],
 ['United Kingdom'],
 ['United Kingdom'],
 ['India'],
 ['Mexico'],
 ['United States'],
 ['United States'],
 ['India'],
 ['India'],
 ['United States'],
 ['Indonesia'],
 ['Japan'],
 ['India'],
 ['United States'],
 ['Indonesia'],
 ['United States'],
 ['Spain'],
 ['Thailand'],
 ['Brazil'],
 ['Japan'],
 ['Germany'],
 ['Spain'],
 ['India'],
 ['United States'],
 ['United States'],
 ['India'],
 ['United States'],
 ['Brazil'],
 ['Ecuador'],
 ['United States'],
 ['United States'],
 ['Brazil'],
 ['Mexico'],
 ['India'],
 ['United Kingdom'],
 ['India'],
 ['Thailand'],
 ['India'],
 ['South Korea'],
 ['India'],
 ['United States'],
 ['India'],
 ['India'],
 ['India'],
 ['United States'],
 ['Ukraine'],
 ['United Kingdom'],
 ['Mexico'],
 ['India'],
 ['India'],
 ['India'],
 ['India'],
 ['Australia'],
 ['United Arab Emirates'],
 ['Indonesia'],
 ['United States'],
 ['Thailand'],
 ['Mexico'],
 ['Russia'],
 ['Spain'],
 ['United States'],
 ['India'],
 ['Brazil'],
 ['Brazil'],
 ['Jordan'],
 ['India'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['Canada'],
 ['Netherlands'],
 ['Mexico'],
 ['Pakistan'],
 ['India'],
 ['India'],
 ['Brazil'],
 ['India'],
 ['India'],
 ['India'],
 ['India'],
 ['Spain'],
 ['United States'],
 ['United States'],
 ['India'],
 ['United Kingdom'],
 ['United Kingdom'],
 ['United Kingdom'],
 ['Ukraine'],
 ['India'],
 ['United Kingdom'],
 ['India'],
 ['United States'],
 ['Colombia'],
 ['Philippines'],
 ['United States'],
 ['United States'],
 ['India'],
 ['United States'],
 ['Russia'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['Saudi Arabia'],
 ['Canada'],
 ['United States'],
 ['Russia'],
 ['Brazil'],
 ['United States'],
 ['United States'],
 ['India'],
 ['United States'],
 ['India'],
 ['Brazil'],
 ['Brazil'],
 ['United States'],
 ['Ecuador'],
 ['Samoa'],
 ['Italy'],
 ['Indonesia'],
 ['France'],
 ['South Korea'],
 ['Mexico'],
 ['Brazil'],
 ['Spain'],
 ['United States'],
 ['United States'],
 ['United Arab Emirates'],
 ['United States'],
 ['Ukraine'],
 ['Spain'],
 ['United States'],
 ['India'],
 ['Mexico'],
 ['United States'],
 ['United States'],
 ['United States'],
 ['Colombia'],
 ['United Kingdom'],
 ['United States'],
 ['South Korea'],
 ['United States'],
 ['India'],
 ['Mexico'],
 ['India'],
 ['India'],
 ['India'],
 ['Brazil'],
 ['United States'],
 ['Spain'],
 ['Spain'],
 ['India'],
 ['India'],
 ['United States'],
 ['United States'],
 ['Brazil'],
 ['India'],
 ['Sweden'],
 ['India']]

In [34]:
te = TransactionEncoder() 
te_ary = te.fit_transform(country)
new_country = pd.DataFrame(te_ary,columns=te.columns_)
new_country

,Argentina,Australia,Barbados,Brazil,Canada,Chile,China,Colombia,Cuba,Ecuador,...,Sweden,Switzerland,Thailand,Turkey,Ukraine,United Arab Emirates,United Kingdom,United States,Venezuela,Vietnam
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
550,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
551,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
552,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
553,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [35]:
att = pd.concat([df_cleaned['subscribers'],df_cleaned['video_views_for_the_last_30_days'],new_country],axis=1)
label = df_cleaned['lowest_monthly_earnings']

In [36]:
att

,subscribers,video_views_for_the_last_30_days,Argentina,Australia,Barbados,Brazil,Canada,Chile,China,Colombia,...,Sweden,Switzerland,Thailand,Turkey,Ukraine,United Arab Emirates,United Kingdom,United States,Venezuela,Vietnam
0,245000000,2.258000e+09,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,166000000,1.348000e+09,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,162000000,1.975000e+09,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,159000000,1.824000e+09,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,106000000,4.894700e+07,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,12400000,4.941200e+07,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
550,12300000,5.525130e+08,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
551,12300000,6.473500e+07,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
552,12300000,3.871000e+06,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
553,12300000,2.400000e+07,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [37]:
label

0      564600.0
1      337000.0
2      493800.0
3      455900.0
4       12200.0
         ...
549     12400.0
550    138100.0
551     16200.0
552       968.0
553      6000.0
Name: lowest_monthly_earnings, Length: 554, dtype: float64

In [38]:
model = LinearRegression()
model.fit(att,label)
model.score(att,label)

0.5261657837168254

In [39]:
pf = PolynomialFeatures(degree= 2)
pf.fit(att)
att_new = pf.transform(att)

model = LinearRegression()
model.fit(att_new,label)
model.score(att_new,label)

0.9887718490525312